[Unit]
Description=FastAPI Service
After=network.target

[Service]
Type=simple
User=app
Restart=on-failure
RestartSec=5s
WorkingDirectory=/app/fastapi
ExecStart=/app/fastapi/bin/fastapi

[Install]
WantedBy=multi-user.target